body {
  font-size: 16px;
}

body {
  background-color: #674bb1;
}

h1 {
  background-color: ;
}
.background-container {
  position: relative;
  min-height: 100vh;
}

.background-container .background-image {
  width: 100%;
  height: auto;
  display: block;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.huddle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  width: 12.5rem;
  height: auto;
}

.logo-container {
  display: flex;
  justify-content: end;
  gap: 10px;
  color: white;
  padding-bottom: 50px;
  padding-right: 50px;
}

.logo-container i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
